@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbdada;
}

.navbar {
  background-color: #cac7c7;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.globe-and-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ri-global-fill {
  font-size: 20px;
  color: rgb(105, 30, 30);
}

.site-logo {
  font-family: "Tektur", cursive;
  font-weight: 600;
  font-size: 23px;
}

.colored-span {
  color: rgb(105, 30, 30);
}

.categories {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  gap: 4px;
}

.ri-function-line {
  font-size: 16px;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  height: 30px;
  border: 2px solid rgb(105, 30, 30);
  border-radius: 20px;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 5px 8px;
  font-size: 13px;
  color: #000000;
}

.search-bar input::placeholder {
  color: #000000;
  font-size: 13px;
}

.search-bar button {
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 70px;
  height: 100%;
}

.acct-love-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.myacct {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.acct {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ri-account-circle-line,
ri-arrow-down-s-line,
ri-heart-line,
ri-shopping-cart-2-line {
  font-size: 24px;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Tilt Prism', cursive; */
/* font-family: 'Cherry Bomb One', cursive; */
/* font-family: 'Tektur', cursive; */
