@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbdada;
}

.navbar {
  width: 100%;
  background-color: #cac7c7;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  opacity: 1;
}

.globe-and-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.ri-global-fill {
  font-size: 20px;
  color: rgb(105, 30, 30);
}

.site-logo {
  font-family: "Tektur", cursive;
  font-weight: 600;
  font-size: 23px;
}

.colored-span {
  color: rgb(105, 30, 30);
}

.categories {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  gap: 4px;
  cursor: pointer;
}

.ri-function-line {
  font-size: 16px;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  height: 30px;
  border: 2px solid rgb(105, 30, 30);
  border-radius: 20px;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 5px 8px;
  font-size: 13px;
  color: #000000;
}

.search-bar input::placeholder {
  color: #000000;
  font-size: 13px;
}

.search-bar button {
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 70px;
  height: 100%;
}

.acct-love-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.myacct {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.acct {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ri-account-circle-line {
  font-size: 24px;
  color: rgb(105, 30, 30);
}

.ri-heart-line {
  cursor: pointer;
}

.hero-section {
  display: flex;
  gap: 10px;
  padding: 2em 3em 0 3em;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}

.first-hero {
  display: flex;
  background-color: #cac7c7;
  border-radius: 6px;
  width: 70%;
}

.hero-txt-and-btn {
  padding: 2em 0 0 3em;
  width: 60%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
  color: #000000;
}

.hero-img-part {
  width: 40%;
  padding-right: 2em;
}

.hero-img {
  width: fit-content;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.get-started-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  border: 1px solid rgb(105, 30, 30);
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.text-on-img {
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 7px;
  font-weight: 400;
  padding: 5px 6px;
  width: 100px;
}

.second-hero {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 1.5em 0;
  background-color: #cac7c7;
  width: 30%;
  border-radius: 6px;
}

.sign-up-icon {
  background-color: #dbdada;
  padding: 0.8em;
  border-radius: 20%;
}

#sign-up-icon-id {
  font-size: 40px;
}

.welcome-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

#get-started-id {
  border-radius: 20px;
  padding: 6px 12px;
}

.sell-section {
  border-radius: 6px;
  padding: 1em;
  background-color: #dbdada;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: fit-content;
}

.ss-icon-and-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

#start-now-btn {
  padding: 4px 15px;
}

.store-icon {
  font-size: 24px;
  font-weight: 600;
  color: rgb(105, 30, 30);
}

#sbc-heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
#sbc-heading-2 {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.9em;
  padding: 0 3em 2em 3em;
}

.item-div {
  /* background-position: center; */
  cursor: pointer;
  background-color: #cac7c7;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  height: 100px;
  width: 100%;
}

.item-img {
  height: 70%;
  width: 100%;
  /* background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.item-image {
  height: 100%;
  width: 100%;
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
}

.item-title {
  padding: 7px 5px;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 500;
  font-size: 9px;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.discount-section {
  padding: 0 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.first-d-s {
  background-color: #cac7c7;
  padding: 1em 0.5em 0 1em;
  border-radius: 7px;
  width: 50%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
}

#second-d-s {
  width: 50%;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
}

.discount-img {
  width: 180px;
  height: auto;
}

.discount-image {
  width: 100%;
  height: 100%;
}

.discount-text {
  padding: 1em 0 0 1em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bolded {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

#get-up-to-id {
  font-weight: 600;
}

.best-selling-prod-sec {
  padding: 0 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(7, 4fr);
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  width: 100%;
}

.each-item {
  border-radius: 6px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 1em;
  background-color: #cac7c7;
  height: fit-content;
}

.cart-and-love {
  display: flex;
  justify-content: space-between;
}

.add-and-minus-bar {
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  width: 40px;
  height: 18px;
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 500;
  padding-left: 2px;
}

#plus-sign {
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

#minus-sign {
  cursor: pointer;
}

.each-item-img {
  height: 50%;
  width: 100%;
}

.each-item-image {
  height: 100%;
  width: 100%;
}

.item-brief-text {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.star-and-rating {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 5px;
  font-size: 8px;
  font-weight: 500;
}

.price-tag {
  display: flex;
  gap: 7px;
  font-size: 12px;
  font-weight: 600;
}

#slashed-price {
  font-weight: 300;
  text-decoration: line-through;
}

.page-note {
  display: flex;
  background-color: #cac7c7;
  margin: 1em 3em 2em 3em;
  padding: 1em 0;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid rgb(105, 30, 30);
}

.site-x-logo {
  font-family: "Tektur", cursive;
  font-weight: 600;
}

.notice-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.notice-text-i {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-text {
  text-decoration: none;
  color: rgb(105, 30, 30);
}

.link-text:hover {
  text-decoration: underline;
  text-underline-offset: 1.5px;
}

.shopsphere-features {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
}

.diff-feature-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  width: 15%;
}

.feature-icon {
  color: rgb(105, 30, 30);
  font-size: 24px;
}

.feature-note {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: rgb(105, 30, 30);
  color: #cac7c7;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
}

#site-x-logo-id {
  margin-bottom: 10px;
}

.main-footer-info {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}

.feature-note-i {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 5px;
}

#feature-note-id {
  width: 180px;
  padding-bottom: 5px;
  text-decoration: none;
}

.feature-note-i:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.join-login-btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid rgb(105, 30, 30);
  padding: 6px 12px;
  background-color: #cac7c7;
}

.footer-icon-list {
  display: flex;
  gap: 10px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cac7c7;
  background-color: #cac7c7;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 1px;
  font-size: 20px;
  color: rgb(105, 30, 30);
  text-decoration: none;
}

.dash-navbar {
  padding: 0.5em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cec7c7;
}

.dash-ii {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wallet-div {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #cec7c7;
  padding: 2px 6px;
  border-radius: 8px;
  text-align: center;
}

.spec-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cec7c7;
  padding: 1px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.wallet-type-and-amt {
  display: flex;
  flex-direction: column;
}

.icon-account-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ri-notification-line {
  font-size: 24px;
  color: rgb(105, 30, 30);
}

.ri-wallet-line {
  font-size: 24px;
  color: rgb(105, 30, 30);
}

.dash-opt-bar {
  padding: 0.5em 9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cec7c7;
}

.each-dash-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dash-icon {
  font-size: 18px;
}

.each-dash-div:hover {
  color: rgb(105, 30, 30);
}

.dash-title:hover {
  color: rgb(105, 30, 30);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.dash-title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.dash-title-export-btn {
  padding: 1.5em 3em 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash-header-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.export-icon {
  display: inline-block;
  transform: scaleX(-1);
  color: rgb(105, 30, 30);
}

.rev-prof-val-score {
  padding: 0 3em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.each-rpvs-div {
  display: flex;
  gap: 8px;
  border-radius: 8px;
  padding: 1em;
  background-color: #cec7c7;
  width: fit-content;
}

.rpvs-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

#rpvs-icon-id {
  background-color: #c8b4b4;
  font-size: 20px;
  color: rgb(105, 30, 30);
}

.rpvs-text-sec {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dash-light-title {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 2px;
}

.myacct-bold {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.icon-and-bal {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Manrope", sans-serif;
}

.bal {
  font-size: 12px;
}

.bal-green-icon {
  color: green;
}

.bal-red-icon {
  color: rgb(186, 29, 29);
}

.order-summary-div {
  margin: 0 3em;
  background-color: #cec7c7;
  padding: 1em;
  border-radius: 8px;
}

.order-sum-title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.numb-of-item-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.each-item-bar {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.item-amount {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.order-info-div {
  padding: 0 0.5em;
  margin-bottom: 10px;
}

.order-info {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  border-bottom: 2px solid #aa9898;
  text-align: start;
  align-items: center;
}

.order-details {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  border-bottom: 2px solid #aa9898;
  text-align: start;
  align-items: center;
  padding: 3px 0;
}

.prod-num-date {
  display: flex;
  flex-direction: column;
}

.prod-num {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.prod-date-time {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.numb {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.more-btn {
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  padding: 6px 15px;
  background-color: #b9b7b7;
}

.new-btn {
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  padding: 6px 15px;
  background-color: #a5a1a1;
}

#processing-btn {
  background-color: rgb(199, 199, 111);
}

#shipped-btn {
  background-color: rgb(128, 157, 203);
}

#delivered-btn {
  background-color: rgb(103, 178, 103);
}

#cancelled-btn {
  background-color: rgb(156, 56, 56);
}

.all-orders-div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.ri-arrow-right-circle-fill {
  color: rgb(105, 30, 30);
}

.dash-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  border: 1px solid rgb(105, 30, 30);
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
  color: #000000;
}

.dash-link {
  text-decoration: none;
  color: #ffffff;
}

.acct-dash-zone {
  display: flex;
  gap: 12px;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Tilt Prism', cursive; */
/* font-family: 'Cherry Bomb One', cursive; */
/* font-family: 'Tektur', cursive; */

/* .dashboard {
  display: none;
}
.dashboard.active {
  display: block;
} */

/* .hover:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
} */

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    flex-direction: column;
  }
  .acct-dash-zone {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ri-shopping-cart-2-line {
    display: none;
  }
  .globe-and-logo {
    display: flex;
    justify-content: start;
  }
  .categories {
    display: none;
  }
  .ri-arrow-down-s-line {
    display: none;
  }
  .ri-heart-line {
    display: none;
  }
  .search {
    display: none;
  }
  .welcome-text {
    text-align: center;
    font-size: 18px;
  }
  .first-hero {
    display: none;
  }
  .second-hero {
    width: 100%;
    gap: 10px;
    height: fit-content;
  }
  /* #sbc-heading {
  } */
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.9em;
    padding: 1em 3em 2em 3em;
  }
  .first-d-s {
    padding: 0.5em;
    border-radius: 10px;
    height: 25vh;
  }
  .discount-img {
    display: none;
  }
  .best-selling-prod-sec {
    grid-template-columns: repeat(3, 4fr);
  }
  .page-note {
    margin: 1em 0 2em 0;
    padding: 1em 0.5em;
  }
  .notice-text {
    font-size: 8px;
  }
  .discount-text {
    padding: 10px;
    gap: 7px;
  }
  .bolded {
    font-size: 14px;
    font-weight: 600;
  }
  .footer {
    padding: 1em;
    gap: 20px;
  }
  .footer-icon-list {
    flex-direction: column;
  }
  .separation-footer-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #feature-note-id {
    width: 120px;
  }
  #ei-hidden-item {
    display: none;
  }
  .item-img {
    background-size: cover;
    background-position: center;
  }
}
