@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbdada;
}

.navbar {
  background-color: #cac7c7;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.globe-and-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ri-global-fill {
  font-size: 20px;
  color: rgb(105, 30, 30);
}

.site-logo {
  font-family: "Tektur", cursive;
  font-weight: 600;
  font-size: 23px;
}

.colored-span {
  color: rgb(105, 30, 30);
}

.categories {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  gap: 4px;
}

.ri-function-line {
  font-size: 16px;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  height: 30px;
  border: 2px solid rgb(105, 30, 30);
  border-radius: 20px;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 5px 8px;
  font-size: 13px;
  color: #000000;
}

.search-bar input::placeholder {
  color: #000000;
  font-size: 13px;
}

.search-bar button {
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 70px;
  height: 100%;
}

.acct-love-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.myacct {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.acct {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ri-account-circle-line,
ri-arrow-down-s-line,
ri-heart-line,
ri-shopping-cart-2-line {
  font-size: 24px;
  color: rgb(105, 30, 30);
}

.hero-section {
  display: flex;
  gap: 10px;
  padding: 2em 3em 0 3em;
  width: 100%;
  height: 60vh;
}

.first-hero {
  display: flex;
  background-color: #cac7c7;
  border-radius: 6px;
  width: 70%;
}

.hero-text-and-btn {
  padding: 2em 0 0 3em;
  width: 60%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
  color: #000000;
}

.hero-img-part {
  position: relative;
  width: 40%;
  height: auto;
  padding-right: 2em;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.get-started-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  border: 1px solid rgb(105, 30, 30);
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.text-on-img {
  position: absolute;
  top: 75%;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 7px;
  font-weight: 400;
  padding: 5px 6px;
  width: 100px;
}

.second-hero {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 0 0;
  background-color: #cac7c7;
  width: 30%;
  border-radius: 6px;
}

.sign-up-icon {
  background-color: #dbdada;
  padding: 0.8em;
  border-radius: 20%;
}

#sign-up-icon-id {
  font-size: 40px;
}

.welcome-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

#get-started-id {
  border-radius: 20px;
  padding: 6px 12px;
}

.sell-section {
  border-radius: 6px;
  padding: 0.8em;
  background-color: #dbdada;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.ss-icon-and-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

#start-now-btn {
  padding: 4px 15px;
}

.ri-store-2-line {
  font-size: 24px;
  font-weight: 600;
  color: rgb(105, 30, 30);
}

#sbc-heading {
  padding: 2em 3em 1em 3em;
  text-align: center;
  font-size: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  padding: 1em 3em 2em 3em;
}

.item-div {
  cursor: pointer;
  background-color: #cac7c7;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  height: 30vh;
}

.item-img {
  height: 70%;
  width: 110px;
}

.item-image {
  height: 100%;
  width: 100%;
}

.item-title {
  padding: 7px 5px;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 500;
  font-size: 9px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.discount-section {
  padding: 0 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.first-d-s {
  background-color: #cac7c7;
  padding: 1em 0.5em 0 1em;
  border-radius: 7px;
  width: 50%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
}

#second-d-s {
  width: 50%;
  background-color: rgb(105, 30, 30);
  color: #ffffff;
}

.discount-img {
  width: 180px;
  height: auto;
}

.discount-image {
  width: 100%;
  height: 100%;
}

.discount-text {
  padding: 1em 0 0 1em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bolded {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

#get-up-to-id {
  font-weight: 600;
}

.best-selling-prod-sec {
  padding: 0 3em 1em 3em;
}

.each-item {
  border-radius: 6px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 0.5em;
  background-color: #cac7c7;
  height: 40vh;
  width: 13%;
}

.cart-and-love {
  display: flex;
  justify-content: space-between;
}

.add-and-minus-bar {
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  width: 40px;
  height: 18px;
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 500;
  padding-left: 2px;
}

#plus-sign {
  background-color: rgb(105, 30, 30);
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.each-item-img {
  height: 50%;
  width: 100%;
}

.each-item-image {
  height: 100%;
  width: 100%;
}

.item-brief-text {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.star-and-rating {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 5px;
  font-size: 8px;
  font-weight: 500;
}

.price-tag {
  display: flex;
  gap: 7px;
  font-size: 12px;
  font-weight: 600;
}

#slashed-price {
  font-weight: 300;
  text-decoration: line-through;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Tilt Prism', cursive; */
/* font-family: 'Cherry Bomb One', cursive; */
/* font-family: 'Tektur', cursive; */
